.segment {
    min-height: 120vh;
    border-radius: 0 !important;
    background: linear-gradient(90deg, #000000, #8800FF60, #000000) !important;
}

a {
    cursor: pointer;
}

.masthead {
    padding-top: 120px !important;
}

body {
    background-color: black;
}

#name .ui.header {
    margin-bottom: 0;
}

#logo > .image {
    height: 250px;
    width: auto;
}

.muted.text {
    opacity: 0.6;
}

#name > .header {
    font-size: 40px;
}

#name > span {
    font-size: 25px;
}

#name, #logo {
    margin: 0 !important;
}

#name {
    text-align: left;
    padding-top: 90px;
}

#logo {
    text-align: right;
}

.buttons- {
    margin-bottom: 20px;
}

.button-.column {
    border-width: 1px;
    border-color: white;
    border-style: solid;
    padding: 15px;
    font-size: 1.5em;
    margin: 10px;
    border-radius: 4px;
    transition: opacity 2s, 0.6s;
    cursor: pointer;
    opacity: 0;
}

.button-.column .divider {
    font-size: inherit;
}

.button-.column.left {
    background: linear-gradient(-90deg, transparent 50%, #8800FF);
    background-size: 200% 200%;
    background-position-x: 100%;
}

.button-.column.left:hover {
    background-position-x: 0%;
}

.button-.column.right {
    background: linear-gradient(90deg, transparent 50%, #8800FF);
    background-size: 200% 200%;
}

.button-.column.right:hover {
    background-position-x: 100%;
}

.button-.column.up {
    background: linear-gradient(transparent 50%, #8800FF);
    background-size: 200% 200%;
}

.button-.column.up:hover {
    background-position-y: 100%;
}

.button-.disabled {
    opacity: 0.5 !important;
}

.left-.text-.column {
    background: linear-gradient(90deg, var(--start), var(--end));
}

.middle-.text-.column {
    background: linear-gradient(-90deg, var(--end), var(--start), var(--end));
}

.right-.text-.column {
    background: linear-gradient(-90deg, var(--start), var(--end));
}

.text-.column {
    --start: #8800FF10;
    --end: #8800FF50;
    border-radius: 5px;
    margin: 0 5px;
}

.langs- .card img {
    height: 150px !important;
    width: auto !important;
    margin: auto;
}

.socials- .card img {
    height: 100px !important;
    width: auto !important;
}

.socials- .card .image {
    width: fit-content !important;
}

.ui.image-.modal,
.ui.image-.modal > .content {
    width: fit-content;
    padding: 0 !important;
    background-color: transparent;
}

.ui.image-.modal > .header,
.ui.image-.modal > .actions {
    display: none;
}

a {
    color: #8800FF;
    transition: 0.2s;
}

a:hover {
    color: #ea00ff
}

@media screen and (max-width: 670px) {
    #name > .header {
        font-size: 30px;
    }

    #name > span {
        font-size: 15px;
    }

    #logo > .image {
        height: 180px;
    }

    #name {
        padding-top: 60px;
    }
}

@media screen and (max-width: 500px) {
    #name > .header {
        font-size: 20px;
    }

    #name > span {
        font-size: 13px;
    }

    #logo > .image {
        height: 150px;
    }

    #name {
        padding-top: 55px;
    }
}

@media screen and (max-width: 845px) {
    .button-.column {
        width: 100% !important;
        padding: 5px 0;
        margin-bottom: 10px !important;
    }

    .buttons- .row {
        padding: 0px !important;
    }
}

@media screen and (max-width: 903px) {
    .text-.column {
        width: 100% !important;
        padding: 5px 0;
        margin-top: 10px !important;
    }
}